<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <title>Admin page</title>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <title>User page</title>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C3F42">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="p-3 mb-2 text-white col-10">

                <span class="fw-bold" th:text="${userInfo.name}"></span>
                with roles:
                <span th:each="role : ${userInfo.getAuthorities()}"
                      th:text="${role.getAuthority().replace('ROLE_', ' ')}"></span>
            </div>
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a style="color: #808080" th:href="@{/logout}" class="nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" aria-current="page" href="/admin/users">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" th:href="@{/user/user}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <h1>Admin panel </h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/new}">New User</a>
                </li>
            </ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td>
                        <span th:each="role : ${user.getRoles()}"
                              th:text="${role.getRoleName().replace('ROLE_', ' ')}"></span>
                    </td>
                    <td><a class="btn btn-info text-white" data-bs-toggle="modal"
                           th:href="${'#editModal'+ user.getId()}">Edit</a>

                        <!-- EDIT MODAL -->

                        <div class="modal fade" th:id="${'editModal'+ user.getId()}" tabindex="-1"
                             aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">


                                        <form class="form w-50 mt-4 mb-4" th:method="PUT"
                                              th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}"
                                              th:id="${'formEdit'+ user.getId()}">
                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="idUpdate">ID</label>
                                                <input class="form-control d-flex justify-content-center"
                                                       type="text" disabled
                                                       th:name="id" th:value="${user.getId()}" id="idUpdate">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="nameUpdate">First name</label>
                                                <input class="form-control d-flex justify-content-center" type="text"
                                                       th:name="firstName" th:value="${user.getFirstName()}"
                                                       id="nameUpdate"
                                                       pattern=".{2,30}" required
                                                       title="First name должно содержать от 2 до 30 символов">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="lastnameUpdate">Last name</label>
                                                <input class="form-control d-flex justify-content-center" type="text"
                                                       th:name="lastName" th:value="${user.getLastName()}"
                                                       id="lastnameUpdate" pattern=".{2,30}" required
                                                       title="Last name должно содержать от 2 до 30 символов">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="emailUpdate">Email</label>
                                                <input class="form-control d-flex justify-content-center" type="email"
                                                       th:name="email" th:value="${user.getEmail()}" id="emailUpdate"
                                                       required>
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="passwordUpdate">Password</label>
                                                <input class="form-control d-flex justify-content-center"
                                                       type="password" id="passwordUpdate" th:name="password" value="">
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="selectUpdateRole">Role</label>
                                                <select class="form-select" aria-label="Default select" name="roles"
                                                        size="2" multiple id="selectUpdateRole">
                                                    <option th:each="role : ${roles}"
                                                            th:text="${role.getRoleName().replace('ROLE_', ' ')}"
                                                            th:value="${role.getId()}"></option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <input th:form="${'formEdit'+ user.getId()}" class="btn btn-primary"
                                               type="submit" value="Edit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td><a class="btn btn-danger" data-bs-toggle="modal"
                           th:href="${'#delModal'+ user.getId()}">Delete</a>

                        <!-- DELETE MODAL -->

                        <div class="modal fade" th:id="${'delModal'+ user.getId()}" tabindex="-1"
                             aria-labelledby="delModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delModalLabel">Delete user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">


                                        <form class="form w-50 mt-4 mb-4" th:method="DELETE"
                                              th:action="@{/admin/delete/{id}(id=${user.getId()})}" th:object="${user}"
                                              th:id="${'formDel'+ user.getId()}">
                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="idDel">ID</label>
                                                <input class="form-control d-flex justify-content-center" type="text"
                                                       th:name="id" th:value="${user.getId()}" id="idDel" disabled>
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="nameDel">First name</label>
                                                <input class="form-control d-flex justify-content-center" type="text"
                                                       th:name="name" th:value="${user.getFirstName()}" id="nameDel"
                                                       disabled>
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                       for="lastnameDel">Last name</label>
                                                <input class="form-control d-flex justify-content-center" type="text"
                                                       th:name="surname" th:value="${user.getLastName()}"
                                                       id="lastnameDel" disabled>
                                            </div>


                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="emailDel">Email</label>
                                                <input class="form-control d-flex justify-content-center" type="email"
                                                       th:name="email" th:value="${user.getEmail()}" id="emailDel"
                                                       disabled>
                                            </div>

                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="passwordDel">Password</label>
                                                <input class="form-control d-flex justify-content-center"
                                                       type="password" th:name="password" id="passwordDel" disabled>
                                            </div>
                                            <div class="row mb-2">
                                                <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                       for="selectDelRole">Role</label>
                                                <select class="form-select" aria-label="Default select" name="roles"
                                                        size="2" multiple id="selectDelRole" disabled>
                                                    <option th:each="role : ${roles}"
                                                            th:text="${role.getRoleName().replace('ROLE_', ' ')}"
                                                            th:value="${role.getId()}"></option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <input th:form="${'formDel'+ user.getId()}" class="btn btn-danger" type="submit"
                                               value="Delete">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
